<!DOCTYPE html>

<html>
    <head>
        <title>Budgeting is good!</title>
    </head>
    <body>
        <h1>Budgets are good!</h1>
        <ul>
            <li>List of incomes</li>
        </ul>
        <ul>
          <li>list of expenses</li>

        </ul>
    </body>
</html>